@model CarrinhoCompraViewModel  
	<!-- Page info -->
	<div class="page-top-info">
		
	</div>
	<!-- Page info end -->

	<!-- cart section end -->
	<section class="cart-section spad">
		<div class="container">
			<div class="row">
				<div class="col-lg-8">

					@if(@Model.CarrinhoCompraList.Count > 0){
						<div class="cart-table">
							<h3>Itens Adicionados (@Model.CarrinhoCompraList.Count)</h3>
							<div class="cart-table-warp">
								<table>
								<thead>
									<tr>
										<th class="product-th">Produtos</th>
										<th class="quy-th">Quantidade</th>
										<!----<th class="size-th">Tamanho</th>----->
										<th class="total-th">Preço</th>
										<th>Ação</th>
									</tr>
								</thead>
								<tbody>
									@foreach (var item in Model.CarrinhoCompraList)
									{
										<tr>
											<td class="product-col">
												<img src="~/arquivos/@item.Produto.Foto[0].Foto" alt="">
												<div class="pc-title">
													<h4>@item.Produto.Nome</h4>
													<p>R$@item.Produto.Valor.ToString("N2")</p>
												</div>
											</td>
											<td class="quy-col">
												<div class="quantity">
													<p>@item.Quantidade</p>
												</div>
											</td>
											<!---<td class="size-col"><h4>Size M</h4></td>--->
											<td class="total-col"><h4>R$@item.Produto.Valor.ToString("N2")</h4></td>
											<td class="total-col">
												<button data-toggle="modal" data-target="#modalDelete" onclick="abrirModalRemoveItem(this, @item.CarrinhoCompraId)" data-carrinho-id="@item.CarrinhoCompraId" class="btn text-danger abrir-modal-delete" title="Remover item">
													<i class="fa fa-times-circle fa-2x"></i>
												</button>
											</td>
										</tr>
										
									}
								</tbody>
							</table>
							</div>
							<div class="total-cost">
								<h6>Total <span>R$@Model.ValorTotalItems.ToString("N2")</span></h6>
							</div>
						</div>
					}else {
						<h1 class="text-center">Você não tem nenhum Produto adicionado ao carrinho de compras.</h1>
					}

				</div>
				<div class="col-lg-4 card-right">
					<!---<form class="promo-code-form">
						<input type="text" placeholder="Enter promo code">
						<button>Submit</button>
					</form>--->
					@if(@Model.CarrinhoCompraList.Count > 0){
						<!---<a asp-action="Checkout" asp-controller="Pedido" class="site-btn">continuar a compra</a>--->
						<a class="site-btn btn-primary" asp-action="CheckoutMercadoPago" asp-controller="Pedido" asp-route-id="@Model.CarrinhoCompraList[0].ProdutoId">continuar a compra</a>
					}
					<a asp-action="Index" asp-controller="Produto" class="site-btn sb-dark">continue comprando</a>
				</div>
			</div>
		</div>
	</section>
	<!-- cart section end -->

	<!-- Related product section -->
	<!---- implementação futura 
	<section class="related-product-section">
		<div class="container">
			<div class="section-title text-uppercase">
				<h2>Continuar comprando</h2>
			</div>
			<div class="row">
				<div class="col-lg-3 col-sm-6">
					<div class="product-item">
						<div class="pi-pic">
							<div class="tag-new">New</div>
							<img src="./img/product/2.jpg" alt="">
							<div class="pi-links">
								<a href="#" class="add-card"><i class="flaticon-bag"></i><span>ADD TO CART</span></a>
								<a href="#" class="wishlist-btn"><i class="flaticon-heart"></i></a>
							</div>
						</div>
						<div class="pi-text">
							<h6>$35,00</h6>
							<p>Black and White Stripes Dress</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>------------------------>
	<!-- Related product section end -->

	<!-- Modal delete-->
	<div class="modal fade" id="modalDelete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-md" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Tem certeza que deseja remover este produto?</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
					<span aria-hidden="true">&times;</span>
					</button>
					<form id="form-remove-carrinho-id">
						<input type="hidden" name="carrinho-id" class="carrinho-id">
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn-estilizado btn-cinza" data-dismiss="modal">Fechar</button>
					<button type="button" class="btn-estilizado btn-roza" onclick="removerItem()">Deletar</button>
				</div>
			</div>
		</div>
	</div>
	<!-- Fim Modal delete -->