@model ProdutoViewModel

	<!-- Page info -->
	<div class="page-top-info">
		<div class="container">
		</div>
	</div>
	<!-- Page info end -->

	<!-- product section -->
	<section class="product-section">
		<div class="container">
			<div class="container d-flex justify-content-center">
			<div class="alert alert-secondary feed-quantidade-invalida" role="alert">
				<i class="fa fa-exclamation-circle fa-2x text-danger"></i> 
  				<strong class="text-danger pr-2 mensage-invalid-quantidade"></strong>
				<button type="button" class="close btn-close-feed-invalid" aria-label="Close">
    				<span aria-hidden="true">&times;</span>
  				</button>
			</div>
		</div>
			<div class="row">
				<div class="col-lg-6">
					<div class="product-pic-zoom">
						<img class="product-big-img" src="~/@Functions.GetPathUploadProdutos()/@Model.Produto.Foto[0].Foto" alt="">
					</div>
					<div class="product-thumbs" tabindex="1" style="overflow: hidden; outline: none;">
						<div class="product-thumbs-track">
							@foreach (var fotos in @Model.Produto.Foto)
							{
								<div class="pt active fotos-produtos-list" data-imgbigurl="/@Functions.GetPathUploadProdutos()/@fotos.Foto">
									<img src="~/@Functions.GetPathUploadProdutos()/@fotos.Foto" alt="">
								</div>
							}
						</div>
					</div>
				</div>
				<div class="col-lg-6 product-details">
					<h2 class="p-title">@Model.Produto.Nome</h2>
					<h3 class="p-price">R$ @Model.Produto.Valor.ToString("N2")</h3>
					<h4 class="p-stock">Disponível: <span>Em estoque</span></h4>
					<!------------------ implementação futura
					<div class="p-rating">
						<i class="fa fa-star-o"></i>
						<i class="fa fa-star-o"></i>
						<i class="fa fa-star-o"></i>
						<i class="fa fa-star-o"></i>
						<i class="fa fa-star-o fa-fade"></i>
					</div>
					
					<div class="p-review">
						<a href="">3 reviews</a>|<a href="">Add your review</a>
					</div>
					<div class="fw-size-choose">
						<p>Size</p>
						<div class="sc-item">
							<input type="radio" name="sc" id="xs-size">
							<label for="xs-size">32</label>
						</div>
						<div class="sc-item">
							<input type="radio" name="sc" id="s-size">
							<label for="s-size">34</label>
						</div>
						<div class="sc-item">
							<input type="radio" name="sc" id="m-size" checked="">
							<label for="m-size">36</label>
						</div>
						<div class="sc-item">
							<input type="radio" name="sc" id="l-size">
							<label for="l-size">38</label>
						</div>
						<div class="sc-item disable">
							<input type="radio" name="sc" id="xl-size" disabled>
							<label for="xl-size">40</label>
						</div>
						<div class="sc-item">
							<input type="radio" name="sc" id="xxl-size">
							<label for="xxl-size">42</label>
						</div>
					</div> ----->
					<div class="quantity">
						<p>Quantidade</p>
						<div class="col-md-3">
                        	<div class="pro-qty"><input class="input-quantidade" type="text" value="1"></div>
						</div>
						<div class="col-md-3">
							<small class="xl-size disable text-secondary p-stock quantidade-value" data-item-disponivel="@Model.Produto.Quantidade">@Model.Produto.Quantidade items disponíveis</small>
						</div>
                    </div>
					<!---- implementação futura 
					<a href="#" class="site-btn">COMPRAR</a> ------>
					<input type="hidden" id="input-usuario-logado" value="@User.Identity.Name">
					<button data-id="@Model.Produto.ProdutoId" class="site-btn btn-primary add-cart">Adicionar ao carrinho</button>
					<div id="accordion" class="accordion-area">
						<div class="panel">
							<div class="panel-header" id="headingOne">
								<button class="panel-link active" data-toggle="collapse" data-target="#collapse1" aria-expanded="true" aria-controls="collapse1">Detalhes</button>
							</div>
							<div id="collapse1" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
								<div class="panel-body">
									<p>@Model.Produto.Descricao</p>
								</div>
							</div>
						</div>
						<!---- implementação futura
						<div class="panel">
							<div class="panel-header" id="headingTwo">
								<button class="panel-link" data-toggle="collapse" data-target="#collapse2" aria-expanded="false" aria-controls="collapse2">care details </button>
							</div>
							<div id="collapse2" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
								<div class="panel-body">
									<img src="./img/cards.png" alt="">
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin pharetra tempor so dales. Phasellus sagittis auctor gravida. Integer bibendum sodales arcu id te mpus. Ut consectetur lacus leo, non scelerisque nulla euismod nec.</p>
								</div>
							</div>
						</div>
						<div class="panel">
							<div class="panel-header" id="headingThree">
								<button class="panel-link" data-toggle="collapse" data-target="#collapse3" aria-expanded="false" aria-controls="collapse3">shipping & Returns</button>
							</div>
							<div id="collapse3" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
								<div class="panel-body">
									<h4>7 Days Returns</h4>
									<p>Cash on Delivery Available<br>Home Delivery <span>3 - 4 days</span></p>
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin pharetra tempor so dales. Phasellus sagittis auctor gravida. Integer bibendum sodales arcu id te mpus. Ut consectetur lacus leo, non scelerisque nulla euismod nec.</p>
								</div>
							</div>
						</div>------------------->
					</div>
				<!--------------redes sociais----------------------->
					<!------ implementação futura
					<div class="social-sharing">
						<a href=""><i class="fa fa-google-plus"></i></a>
						<a href=""><i class="fa fa-pinterest"></i></a>
						<a href=""><i class="fa fa-facebook"></i></a>
						<a href=""><i class="fa fa-twitter"></i></a>
						<a href=""><i class="fa fa-youtube"></i></a>
					</div> ------------------------>
				<!--------------redes sociais----------------------->
				</div>
			</div>
		</div>
	</section>
	<!-- product section end -->

	<!-- RELATED PRODUCTS section -->
	<section class="related-product-section">
		<div class="container">
			<div class="section-title">
				<h2>Produtos Similares</h2>
			</div>
			<div class="product-slider owl-carousel carousel-produtos-por-categoria">
				@foreach (var produto in @Model.Produtos)
				{
					<div class="product-item">
						<div class="pi-pic">
							<img src="~/@Functions.GetPathUploadProdutos()/@produto.Foto[0].Foto" alt="">
							<div class="pi-links">
								<a class="prod-id" asp-action="Detalhes" asp-route-id="@produto.ProdutoId" asp-controller="Produto" title="Ver Detalhes do Produto">
									<i class="fa fa-eye icone-ver-detalhes"></i>
								</a>
							</div>
						</div>
						<div class="pi-text">
							<h6>R$@produto.Valor.ToString("N2")</h6>
							<p>@produto.Nome</p>
						</div>
					</div>
				}
			</div>
		</div>
	</section>
	<!-- RELATED PRODUCTS section end -->