@model CarrinhoCompraViewModel  
	<!-- Page info -->
	<div class="page-top-info">
		
	</div>
	<!-- Page info end -->

	<!-- cart section end -->
	<section class="cart-section spad">
		<div class="container">
			<div class="row">
				<div class="col-lg-8">
					<div class="cart-table">
						<h3>Itens Adicionados</h3>
						<div class="cart-table-warp">
							<table>
							<thead>
								<tr>
									<th class="product-th">Produtos</th>
									<th class="quy-th">Quantidade</th>
									<th class="size-th">Tamanho</th>
									<th class="total-th">Preço</th>
									<th></th>
								</tr>
							</thead>
							<tbody>
								@foreach (var item in Model.CarrinhoCompraList)
								{
									<tr>
										<td class="product-col">
											<img src="~/arquivos/@item.Produto.Foto" alt="">
											<div class="pc-title">
												<h4>@item.Produto.Nome</h4>
												<p>R$ @item.Produto.Valor.ToString("N2")</p>
											</div>
										</td>
										<td class="quy-col">
											<div class="quantity">
												<div class="pro-qty">
													<input type="text" value="@item.Quantidade">
												</div>
											</div>
										</td>
										<td class="size-col"><h4>Size M</h4></td>
										<td class="total-col"><h4>R$ @item.Produto.Valor.ToString("N2")</h4></td>
										<td class="total-col">
											<button data-toggle="modal" data-target="#modalDelete" data-carrinho-id="@item.CarrinhoCompraId" class="btn text-danger abrir-modal-delete">
												<i class="fa fa-times-circle fa-2x"></i>
												<input type="hidden" value="@item.CarrinhoCompraId">
											</button>
										</td>
									</tr>
								}
							</tbody>
						</table>
						</div>
						<div class="total-cost">
							<h6>Total <span>R$ @Model.ValorTotalItems.ToString("N2")</span></h6>
						</div>
					</div>
				</div>
				<div class="col-lg-4 card-right">
					<!---<form class="promo-code-form">
						<input type="text" placeholder="Enter promo code">
						<button>Submit</button>
					</form>--->
					<a href="" class="site-btn">continuar a compra</a>
					<a asp-action="Index" asp-controller="Produto" class="site-btn sb-dark">continue comprando</a>
				</div>
			</div>
		</div>
	</section>
	<!-- cart section end -->

	<!-- Related product section -->
	<section class="related-product-section">
		<div class="container">
			<div class="section-title text-uppercase">
				<h2>Continuar comprando</h2>
			</div>
			<div class="row">
				<div class="col-lg-3 col-sm-6">
					<div class="product-item">
						<div class="pi-pic">
							<div class="tag-new">New</div>
							<img src="./img/product/2.jpg" alt="">
							<div class="pi-links">
								<a href="#" class="add-card"><i class="flaticon-bag"></i><span>ADD TO CART</span></a>
								<a href="#" class="wishlist-btn"><i class="flaticon-heart"></i></a>
							</div>
						</div>
						<div class="pi-text">
							<h6>$35,00</h6>
							<p>Black and White Stripes Dress</p>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-sm-6">
					<div class="product-item">
						<div class="pi-pic">
							<img src="./img/product/5.jpg" alt="">
							<div class="pi-links">
								<a href="#" class="add-card"><i class="flaticon-bag"></i><span>ADD TO CART</span></a>
								<a href="#" class="wishlist-btn"><i class="flaticon-heart"></i></a>
							</div>
						</div>
						<div class="pi-text">
							<h6>$35,00</h6>
							<p>Flamboyant Pink Top </p>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-sm-6">
					<div class="product-item">
						<div class="pi-pic">
							<img src="./img/product/9.jpg" alt="">
							<div class="pi-links">
								<a href="#" class="add-card"><i class="flaticon-bag"></i><span>ADD TO CART</span></a>
								<a href="#" class="wishlist-btn"><i class="flaticon-heart"></i></a>
							</div>
						</div>
						<div class="pi-text">
							<h6>$35,00</h6>
							<p>Flamboyant Pink Top </p>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-sm-6">
					<div class="product-item">
						<div class="pi-pic">
							<img src="./img/product/1.jpg" alt="">
							<div class="pi-links">
								<a href="#" class="add-card"><i class="flaticon-bag"></i><span>ADD TO CART</span></a>
								<a href="#" class="wishlist-btn"><i class="flaticon-heart"></i></a>
							</div>
						</div>
						<div class="pi-text">
							<h6>$35,00</h6>
							<p>Flamboyant Pink Top </p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Related product section end -->

	<!-- Modal delete-->
	<div class="modal fade" id="modalDelete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-sm" role="document">
			<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">Tem certeza que deseja Deletar este produto?</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
				<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<form>
					<input type="text" class="carrinho-id">
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
				<button type="button" class="btn btn-danger" onclick="deletarProduto()">Deletar</button>
			</div>
			</div>
		</div>
	</div>
	<!-- Fim Modal delete -->